<div data-toggle="cubeui-tabs" id='eastTabs'>
    <div title="任务配置"
         data-options="id:'eastTab0',iconCls:'fa fa-info-circle'">
        <div style="margin: 0px;">
        </div>

        <div class="cubeui-fluid">
            <fieldset style="margin-top: 20px!important;margin-bottom1: 10px;">
                <legend>任务基本信息</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">NAME:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" id="Servicename" name="Name" readonly
                               value='{{>SlotStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">TASK ID:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="ID" readonly
                               value='{{>ID}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">Raft:</label>
                    <div class="cubeui-input-block">

                        <input type="text" data-toggle="cubeui-textbox" name="Driver" readonly
                               value='{{>SVersion}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">DESIRED:</label>
                    <div class="cubeui-input-block">

                        <input type="text" data-toggle="cubeui-textbox" name="Driver" readonly
                               value='{{>DesiredState}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">CreateAt:</label>
                    <div class="cubeui-input-block">

                        <input type="text" data-toggle="cubeui-textbox" name="CreateAt" readonly
                               value='{{>Created}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">UpdateAt:</label>
                    <div class="cubeui-input-block">

                        <input type="text" data-toggle="cubeui-textbox" name="Updated" readonly
                               value='{{>Updated}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="服务的容器规范, ">
                <legend style="margin-bottom: 10px;">容器规范(服务的容器规范)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">IMAGE:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Hostname" readonly
                               value='{{>Image}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">Command:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Hostname" readonly
                               value='{{>CommandStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">Args:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Hostname" readonly
                               value='{{>ArgStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">Hostname:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Hostname" readonly
                               value='{{>Spec.ContainerSpec.Hostname}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="要添加到容器主机文件的主机名/IP映射列表。
                            额外主机的格式在主机（5）手册页中指定：IP_address canonical_hostname [aliases...]">Hosts:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Hostname" readonly
                               value='{{>Spec.ContainerSpec.Hosts}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Dir:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Hostname" readonly
                               value='{{>Spec.ContainerSpec.Dir}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">User:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Hostname" readonly
                               value='{{>Spec.ContainerSpec.User}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Groups:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.Groups}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">TTY:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.TTY}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">OpenStdin:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.OpenStdin}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Isolation:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.Isolation}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Init:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.Init}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>

            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">StopSignal:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.StopSignal}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">StopGracePeriod:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.StopGracePeriod}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>

            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">CapabilityAdd:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>CapabilityAddStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">CapabilityDrop:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="CapabilityDrop" readonly
                               value='{{>CapabilityDropStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">ReadOnly:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.ReadOnly}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>


            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">Mounts:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>MountStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">Sysctls:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Sysctls}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label" title="环境变量">Env:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>EnvStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label">Ulimits:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>UlimitStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="即使没有更改相关参数，也会触发更新的计数器">ForceUpdate:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>ForceUpdate}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="Runtime是为任务执行器指定的运行时类型">Runtime:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Runtime}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="指定服务应连接到的网络">
                <legend style="margin-bottom: 0px;">Networks</legend>
            </fieldset>

            <div class="cubeui-row" style="margin-bottom1: 10px;">
                <div class="cubeui-col-sm12">
                    <div class="cubeui-row"  style="margin-top: 0px;">
                        <div class="cubeui-col-sm2 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;'>Network Name</span>
                        </div>
                        <div class="cubeui-col-sm3">
                            <span style='line-height: 20px;padding-right:0px;'>Network ID</span>
                        </div>
                        <div class="cubeui-col-sm3" >
                            <span style='line-height: 20px;padding-right:0px;'>IP Address</span>
                        </div>
                    </div>
                    {{if Spec.Networks}}
                    {{for Spec.Networks}}
                    <div class="cubeui-row">
                        <div class="cubeui-col-sm2 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;'>{{>NetworkName}}</span>

                        </div>
                        <div class="cubeui-col-sm3">
                            <span style='line-height: 20px;padding-right:0px;'>{{>NetworkID}}</span>
                        </div>
                        <div class="cubeui-col-sm3">
                            <span style='line-height: 20px;padding-right:0px;'>{{>Addr}}</span>
                        </div>
                    </div>
                    {{/for}}
                    {{/if}}
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="DNS配置(解析程序配置文件resolv.conf中DNS相关配置的规范)">
                <legend style="margin-bottom: 0px;">DNS配置(解析程序配置文件resolv.conf中DNS相关配置的规范)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Nameservers:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>NameserverStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Search:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Search}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12" title="要修改的内部解析器变量列表（例如调试、NDOT:3等）。">
                    <label class="cubeui-form-label">Options:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>DNSOptionStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset style="margin-top: 20px!important;margin-bottom1: 10px;" title="用户定义的容器的键/值元数据">
                <legend style="margin-bottom: 10px;">容器标签选项(容器的键/值元数据)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <div class="cubeui-row"  style="margin-top: 0px;">
                        <div class="cubeui-col-sm5 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;'>标签</span>
                        </div>
                        <div class="cubeui-col-sm1">
                            <span style='line-height: 20px;padding-right:0px;'>&nbsp;</span>
                        </div>
                        <div class="cubeui-col-sm5" >
                            <span style='line-height: 20px;padding-right:0px;'>值</span>
                        </div>
                    </div>
                    {{if Spec.ContainerSpec.Labels}}
                    {{props Spec.ContainerSpec.Labels}}
                    <div class="cubeui-row">
                        <div class="cubeui-col-sm5 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;'>{{>key}}</span>

                        </div>
                        <div class="cubeui-col-sm1">
                            <span style='line-height: 20px;padding-right:0px;'>=</span>
                        </div>
                        <div class="cubeui-col-sm5">
                            <span style='line-height: 20px;padding-right:0px;'>{{>prop}}</span>
                        </div>
                    </div>
                    {{/props}}
                    {{/if}}
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;"
                       title="密码文件(机密包含对将向服务公开的零个或多个机密的引用)">
                <legend style="margin-bottom: 10px;">密码文件(机密包含对将向服务公开的零个或多个机密的引用)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <div class="cubeui-row"  style="margin-top: 0px;">
                        <div class="cubeui-col-sm4 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;' title="文件表示由文件支持的特定目标。">File</span>
                        </div>
                        <div class="cubeui-col-sm4">
                            <span style='line-height: 20px;padding-right:0px;' title="引用的特定机密的ID。">SecretID</span>
                        </div>
                        <div class="cubeui-col-sm3" >
                            <span style='line-height: 20px;padding-right:0px;' title="引用的机密的名称，仅用于查找/显示目的。引用中的秘密将通过其ID识别。">SecretName</span>
                        </div>
                    </div>
                    {{if Spec.ContainerSpec.Secrets}}
                    {{props Spec.ContainerSpec.Secrets}}
                    <div class="cubeui-row">
                        <div class="cubeui-col-sm4 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;'>{{>File}}</span>

                        </div>
                        <div class="cubeui-col-sm4">
                            <span style='line-height: 20px;padding-right:0px;'>{{>SecretID}}</span>
                        </div>
                        <div class="cubeui-col-sm3">
                            <span style='line-height: 20px;padding-right:0px;'>{{>SecretName}}</span>
                        </div>
                    </div>
                    {{/props}}
                    {{/if}}
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;"
                       title="配置文件(Configs包含对将向服务公开的零个或多个Config的引用)">
                <legend style="margin-bottom: 10px;" title="Configs包含对将向服务公开的零个或多个Config的引用">配置文件</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <div class="cubeui-row"  style="margin-top: 0px;">
                        <div class="cubeui-col-sm4 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;' title="文件支持的特定目标/运行时配置内容。">File/Runtime</span>
                        </div>
                        <div class="cubeui-col-sm4" >
                            <span style='line-height: 20px;padding-right:0px;' title="引用的特定配置的ID；注：配置FILE和配置Runtime时相互排斥。">ConfigID</span>
                        </div>
                        <div class="cubeui-col-sm3" >
                            <span style='line-height: 20px;padding-right:0px;' title="引用的配置的名称，仅用于查找/显示目的。引用中的配置将由其ID标识。">ConfigName</span>
                        </div>
                    </div>
                    {{if Spec.ContainerSpec.Configs}}
                    {{props Spec.ContainerSpec.Configs}}
                    <div class="cubeui-row">
                        <div class="cubeui-col-sm4 cubeui-col-sm-offset1" style="padding-right: 5px">
                                    <span style='line-height: 20px;padding-right:0px;'>
                                    {{if File}}{{>File}}{{else}}{{>RuntimeStr}}{{/if}}
                                    </span>
                        </div>
                        <div class="cubeui-col-sm4">
                            <span style='line-height: 20px;padding-right:0px;'>{{>ConfigID}}</span>
                        </div>
                        <div class="cubeui-col-sm3">
                            <span style='line-height: 20px;padding-right:0px;'>{{>ConfigName}}</span>
                        </div>
                    </div>
                    {{/props}}
                    {{/if}}
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="健康测试策略(用于检查容器是否健康的测试)">
                <legend style="margin-bottom: 10px;">健康测试策略(用于检查容器是否健康的测试)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label" title="要执行的测试。可能的值为:[]从映像或父映像继承healthcheck; [“NONE”]禁用healthcheck;
                            [“CMD”，args…]直接执行参数;[“CMD-SHELL”，command]使用系统的默认SHELL运行命令">Test:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>TestStr}}'
                               data-options="
                                       prompt:'要执行的测试。可能的值为:为空从映像或父映像继承healthcheck; NONE禁用healthcheck;CMD args直接执行参数;CMD-SHELL command使用系统的默认SHELL运行命令'
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="检查之间的等待时间（纳秒）。它应为0或至少1000000（1毫秒）。
                            0表示继承。">Interval(ns):</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.HealthCheck.Interval}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="在检查认为为已挂时的等待时间。
                            它应为0或至少1000000（1毫秒）。0表示继承。">Timeout(ns):</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="CapabilityDrop" readonly
                               value='{{>Spec.ContainerSpec.HealthCheck.Timeout}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="认为容器不健康所需的连续故障数。
                            0表示继承。">Retries:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.ContainerSpec.HealthCheck.Retries}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="容器初始化后开始运行健康检查的开始时间（纳秒）。
                            它应为0或至少1000000（1毫秒）。0表示继承。">StartPeriod(ns):</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="CapabilityDrop" readonly
                               value='{{>Spec.ContainerSpec.HealthCheck.StartPeriod}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="限制资源规范(适用于作为服务一部分创建的每个单独容器的资源需求,描述任务可以请求的资源限制的对象)">
                <legend style="margin-bottom: 10px;">限制资源规范(适用于作为服务一部分创建的每个单独容器的资源需求)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">NanoCPUs:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.Resources.Limits.NanoCPUs}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">MemoryBytes:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="CapabilityDrop" readonly
                               value='{{>Spec.Resources.Limits.MemoryBytes}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>


            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="限制容器中PID的最大数量。将0设置为无限。默认值：0">Pid Limits:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.Resources.Limits.Pids}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="保留资源规范(适用于作为服务一部分创建的每个单独容器的资源需求,可以由节点播发并由任务请求的资源)">
                <legend style="margin-bottom: 10px;">保留资源规范(适用于作为服务一部分创建的每个单独容器的资源需求)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">NanoCPUs:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.Resources.Reservations.NanoCPUs}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">MemoryBytes:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="CapabilityDrop" readonly
                               value='{{>Spec.Resources.Reservations.MemoryBytes}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="重启策略(适用于作为此服务一部分创建的容器的重启策略规范。)">
                <legend style="margin-bottom: 10px;">重启策略(适用于作为此服务一部分创建的容器的重启策略规范)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Condition:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.RestartPolicy.Condition}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">Delay(ns):</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="CapabilityDrop" readonly
                               value='{{>Spec.RestartPolicy.Delay}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label">MaxAttempts:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.RestartPolicy.MaxAttempts}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="Windows是用于评估重启策略的时间窗口（默认值为0，无限制）。默认值：0">Window:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Window" readonly
                               value='{{>Spec.RestartPolicy.Window}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset  style="margin-top: 20px!important;margin-bottom1: 10px;" title="服务分配策略(适用于作为服务一部分创建的每个单独容器的服务分配)">
                <legend style="margin-bottom: 10px;">服务分配策略(适用于作为服务一部分创建的每个单独容器的服务分配)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label" title="约束表达式数组，用于限制可以调度任务的节点集。约束表达式可以使用匹配（=）或排除（！=）规则。多个约束查找满足每个表达式（和匹配）的节点。约束可以匹配节点或Docker引擎标签">Constraints:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>ConstraintStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <label class="cubeui-form-label" title="首选项提供了一种使调度器了解拓扑等因素的方法。它们按优先级从高到低的顺序提供。">Preferences:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>PreferenceStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <div class="cubeui-row">
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="平台存储服务映像可以在其上运行的所有平台。此字段在平台筛选器中用于调度。如果为空，则平台过滤器关闭，这意味着没有调度限制。">Platforms:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>PlatformStr}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
                <div class="cubeui-col-sm6">
                    <label class="cubeui-form-label" title="每个节点的最大副本数（默认值为0，不受限制）默认值：0">MaxReplicas:</label>
                    <div class="cubeui-input-block">
                        <input type="text" data-toggle="cubeui-textbox" name="Groups" readonly
                               value='{{>Spec.Placement.MaxReplicas}}'
                               data-options="
                                            "
                        >
                    </div>
                </div>
            </div>

            <fieldset style="margin-top: 20px!important;margin-bottom1: 10px;" title="用户定义的任务的键/值元数据">
                <legend style="margin-bottom: 10px;">任务标签选项(服务的键/值元数据)</legend>
            </fieldset>

            <div class="cubeui-row">
                <div class="cubeui-col-sm12">
                    <div class="cubeui-row"  style="margin-top: 0px;">
                        <div class="cubeui-col-sm5 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;'>标签</span>
                        </div>
                        <div class="cubeui-col-sm1">
                            <span style='line-height: 20px;padding-right:0px;'>&nbsp;</span>
                        </div>
                        <div class="cubeui-col-sm5" >
                            <span style='line-height: 20px;padding-right:0px;'>值</span>
                        </div>
                    </div>
                    {{if Labels}}
                    {{props Labels}}
                    <div class="cubeui-row">
                        <div class="cubeui-col-sm5 cubeui-col-sm-offset1" style="padding-right: 5px">
                            <span style='line-height: 20px;padding-right:0px;'>{{>key}}</span>

                        </div>
                        <div class="cubeui-col-sm1">
                            <span style='line-height: 20px;padding-right:0px;'>=</span>
                        </div>
                        <div class="cubeui-col-sm5">
                            <span style='line-height: 20px;padding-right:0px;'>{{>prop}}</span>
                        </div>
                    </div>
                    {{/props}}
                    {{/if}}
                </div>
            </div>

        </div>
    </div>



</div>