<div style="margin: 0px;">
</div>

<div class="cubeui-fluid">
    <fieldset>
        <legend>仓库信息</legend>
    </fieldset>
    <div class="cubeui-row">
        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">仓库名字:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Name"
                       value='{{:Name}}'
                       {{if ID=="Default"}}disabled{{/if}}
                       data-options="
                                required:false,prompt:'仓库名字'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">仓库地址:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Endpoint"
                       {{if ID=="Default"}}disabled{{/if}}
                       value='{{:Endpoint}}'
                       data-options="
                                required:false,prompt:'仓库地址，选择填写；为空默认为官方镜像地址https://index.docker.io/v1/'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">备注:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Description"
                       {{if ID=="Default"}}disabled{{/if}}
                       value='{{:Description}}'
                       data-options="
                                multiline:true,
                                height:60,
                                required:false,prompt:'仓库备注，选择填写'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">用户名:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Username"
                       value='{{:Username}}'
                       data-options="
                                                        required:false,prompt:'登录镜像仓库的用户名'
                                                        "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">密码:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-passwordbox" name="Password"
                       value='{{:Password}}'
                       data-options="
                                                        required:false,prompt:'登录镜像仓库的用户密码'
                                                        "
                >
            </div>
        </div>
    </div>
</div>