/*easyui mian*/
#west {border:solid 1px;background:#2c3b41}
#west .layout-panel-west .panel-header{ width:220px; line-height:25px; padding-left:5px;color:#777;background:#1e282c;border-color: #1e282c;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1e282c,endColorstr=#1e282c,GradientType=0)}
#west .layout-panel-west .panel-header .panel-title{padding-left:20px;color:#b8c7ce}
.label-mes{position:absolute;top:3px;margin-left:13px;text-align:center;padding:2px 3px;line-height:.9;border-radius:3px;display:none;font-size:9px;}
.label-success{background-color:#00a65a !important}
#west .tree-icon{color:#fff}
#west .tree-hit{margin-top:8px;}
#west .tree-node{padding-left:20px;height:38px;line-height:38px;border-bottom: dashed 0px #565656;}
#west .tree-title{color:#fff; padding-left:4px;}
#west .tree-file{background: url('');overflow:hidden;}
#west .tree-folder, .tree-folder-open{background: url('');}
#west .tree-node-selected{background: #1e282c;}
#west .tree-node-hover{background:#1e282c; color: #fff;}
#west .tree-node-hover .tree-title{color: #fff;}
#west .panel-header{padding-left: 20px;}
#west .panel-body{background: #f9fafc;}
#west .panel-icon{left: 14px;}
#west .panel-title{font-size: 12px;padding-left:15px; color:#b8c7ce;height: 30px;line-height: 30px;}
#west .accordion{background: #222d32;border:0px;}
#west .accordion-body {border:0px;background:#2c3b41}
#west .accordion .accordion-header{background: #222d32;border-top:solid 1px #2c3b41;color:#fff;border-left:3px #222d32 solid;}
#west .accordion .accordion-header-selected{background: #222d32;border-left:3px #3c8dbc solid;border-bottom:solid 0px #2c3b41;}
#west .accordion .accordion-header:hover{background: #1e282c;color: #fff;border-left:3px #3c8dbc solid;}
#west .accordion .accordion-header-selected .panel-title{color:#fff}
#west .accordion .accordion-header .panel-title:hover{color: #fff;}
#west .layout-split-west{border-right: 3px solid #efefef;}
#west .tree-collapsed {background:url(''); color:#fff;  margin-right:0px; display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
#west .tree-collapsed:before{content:"\f0da"}
#west .tree-expanded {background:url(''); color:#fff; margin-right:0px; display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
#west .tree-expanded:before{content:"\f0d7"}
#center .tabs-panels{border-bottom: 0px;}
#west .panel-header,#west .panel-body{border:0px}
.panel-icon, .panel-tool {margin-top:-6px;}
#west .panel-tool a{filter:alpha(opacity=20);opacity:0.8}
#west .panel-tool a:hover{filter:alpha(opacity=100);opacity:1;}
#west .accordion-collapse {
background: url('../../themes/default/images/accordion_arrows2.png') no-repeat 0 0;
}
#west .accordion-expand {
  background: url('../../themes/default/images/accordion_arrows2.png') no-repeat -16px 0;
}
/*.accordion-header .accordion-collapse {background: url('../../themes/default/images/accordion_arrows3.png') no-repeat 0 0;}
.accordion-header .accordion-expand {background: url('../../themes/default/images/accordion_arrows3.png') no-repeat -16px 0;}*/
.user-image {float: left;width: 30px;border-radius: 50%;margin-right: 10px;margin-top: 10px;}
.user-name {padding-top:0;display:block; float: left;overflow:hidden;font-family:'Microsoft YaHei',Arial,Verdana}
.user-header{text-align:center; background:#3c8dbc; padding-top:20px;font-family:'Microsoft YaHei',Arial,Verdana; color:#fff}
.user-header img{width:100px;height:100px;border-radius:50%}

.tabs li.tabs-selected a.tabs-inner{border-bottom-color: #3c8dbc;}
.banner{width: 100%;height: 50px;background: #3c8dbc;color: #fff;}
.banner .l-btn-text{/* margin:0px; */}
.banner .webname{background:#367fa9;width: 215px; font-weight:bold; font-size: 20px;line-height: 25px; text-align:left; padding-left:10px; }

.panel-icon, .panel-tool {margin-top:-6px;}
#west .panel-tool a{filter:alpha(opacity=20);opacity:0.8}
/*easyui inner*/
.window{padding: 0;border-width: 3px 1px 1px 1px;border-top-color: #3c8dbc;box-shadow:1px 1px 50px rgba(0,0,0,.3);border-radius: 5px;-webkit-border-radius: 5px;}
.window .window-body{border-width:0px;}

.window .window-header .panel-tool{right: 12px;}
.window .window-header{border-color: #e7eaec;background:#f9f9f9;}
.window .window-header .panel-icon{color: #444;left: 12px;font-weight: normal;font-size: 14px;}
.window .window-header .panel-with-icon{padding-left:30px;font-weight:normal;font-size:13px;}
.window .window-header .panel-icon, .window .window-header .panel-tool{margin-top:-8px;}
.window-proxy-mask, .window-mask{background:#D6D6D6;}
.datagrid-row-selected{background: #e7eaec;color: #000;}
.datagrid-header-row{background: #f9f9f9;padding:0 10px 0 10px;}
.datagrid-row-over, .datagrid-header td.datagrid-header-over{background: #e7eaec;}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{text-overflow: ellipsis;padding:0 7px;}
.accordion .accordion-header-selected {background: #3c8dbc;}
/*btn*/

.bannerbtn{padding:18px 10px 6px 10px;height:25px;color:#fff;text-decoration:none;line-height:36px;}
.bannerbtn:hover{background:#367fa9;filter:none;}
.endbtndiv{padding:8px 10px 8px 0;border-top:1px solid #f0f0f0;background:#f9f9f9;text-align:right;}
.switchbutton-on{background:#439dd1;color:#fff;}
.switchbutton-off{background:#E1E1E1;color:#000;}
/*顶部菜单*/
.bannerMenu{padding:5px;height:40px;color:#fff;text-decoration:none;font-size:18px;line-height:40px;filter:none;}
.bannerMenu lable{font-size:24px;}
.bannerMenu span{font-size:13px;font-family:'Microsoft YaHei',Arial,Verdana;letter-spacing:1px}
#north .topmenu{border-right:1px #367fa9 solid;background:#3c8dbc;text-align:center}
#north .topmenu:hover{background:#367fa9;text-align:center}
#north .selected{border-right:1px #367fa9 solid;background:#367fa9;text-align:center}
#north .splitborder{width:1px;background:#449d44;}